<% provide(:title, "Log in") %>
<h1>Log In</h1>
<%= form_for(:session, url: login_url) do |form| %>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, id: :user_password,  class: 'form-control' %>
    </div>

    <div class="btn">
      <%= form.submit 'Login' %>
    </div>
    <p>New User? <%= link_to 'Sign up now!', signup_path %></p>
<% end %>
