<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title)) %></title>
</head>
<body>
<%= react_component("PasswordInput") %>

<div class="center jumbotron">
  <h1>Welcome to the Sample BNK App</h1>

  <h2>
    This is the home page for the Bilet na Księżyc - from
    <a href="http://www.rockserwis.fm/">rockserwis.fm</a>
  </h2>

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>

<%= render 'programs/recent' %>
<div>
  <%= link_to '10 mostly played artists', mostly_played_artists_path %>
</div>
</body>
</html>
