<h1> <%= title_for_program_list %></h1>
<h2>List all program based on tags: </h2>
<div>
<% ProgramsHelper::TAGS.each_with_index do |tag, index| %>
  <div class="tag-button"> <%= link_to tag, tagged_programs_path(tag_id: index+1) %></div>
<% end %>
</div>
<div>
<%= link_to 'Create new program', new_program_path %>
</div>
<table id="hor-minimalist-b">
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th>Name</th>
  </tr>

  <% @programs.each do |program| %>
      <tr>
        <td><%= program.number %></td>
        <td><%= program.date %></td>
        <td><%= program.name %></td>
        <td><%= link_to 'Show', program_path(program) %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Delete this item', program_path(program), method: :delete %></td>
        <td>  <%= image_tag program.image_path , size: "70x70"%>
        </td>
      </tr>
  <% end %>

</table>
<p>
  <%= will_paginate @programs %>
</p>
