<h1> <%= title_for_program_list %></h1>
<%= link_to 'Create new program', new_program_path %>
<h2>List all program based on tags: </h2>
<% if superuser? %>
  <%= link_to 'Show all (+ scheduled) programs', all_programs_path %>
<%end%>
<div>
  <% Tag.all.each do |tag| %>
    <div class="tag-button"> <%= link_to tag.name, tagged_programs_path(tag: tag) %></div>
<% end %>
  <div class="tag-button"> <%= link_to 'ALL', programs_path %></div>
</div>
<div>
</div>
<table id="hor-minimalist-b">
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th>Name</th>
  </tr>

  <% @programs.each do |program| %>
      <tr>
        <td><%= program.number %></td>
        <td><%= program.date %></td>
        <td><%= program.name %></td>
        <td><%= link_to 'Show', program_path(program) %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Delete this item', program_path(program), method: :delete %></td>
        <td>  <%= image_tag program.image_path , size: "70x70"%>
        </td>
      </tr>
  <% end %>

</table>
<p>
  <%= will_paginate @programs %>
</p>
