<h1>All BNK programs</h1>
<p>
<%= link_to 'Create new program', new_program_path %>
</p>
<table id="hor-minimalist-b">
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th>Name</th>
  </tr>

  <% @programs.each do |program| %>
      <tr>
        <td><%= program.number %></td>
        <td><%= program.date %></td>
        <td><%= program.name %></td>
        <td><%= link_to 'Show', program_path(program) %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Delete this item', program_path(program), method: :delete %></td>
        <%= link_to image_tag(program.picture_path, :alt => "logo" , class:"program-img"), "/" %>

      </tr>
  <% end %>

</table>
<p>
  <%= will_paginate @programs %>
</p>
