<h1> BNK <%= "##{@program.number} - #{@program.name}" %></h1>

<td><%= link_to 'Delete this item', program_path(@program), method: :delete %></td>
<p>
  <strong>Date:</strong>
  <%= @program.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Playlist: </strong>
<table id="hor-minimalist-bb">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
  </tr>
  <% @playlist_items.each do |item| %>
      <tr>
        <td><%= item[:playlist_position] %></td>
        <td><%= item[:title] %></td>
        <td><%= item[:artist] %></td>
        <td><%= item[:album] %></td>
        <td><%= item[:year] %></td>
      </tr>
  <% end %>
</table>
</p>

<p>
  <%= ProgramsHelper.display_link_to_podcast @program.link_to_podcast %>
</p>

<p>
  <%= image_tag @program.image_path , size: "250x250"%>
</p>

<%= link_to 'Edit', edit_program_path(@program) %>
<%= link_to 'Back', programs_path(@program) %>
