<h1>All BNK songs</h1>
<p>
<%= link_to 'Create new song', new_song_path %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
  </tr>

  <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
        <td>(<%= song.year %>)</td>
        <td><%= link_to 'Show', song_path(song) %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Delete this item', song_path(song), method: :delete %></td>
      </tr>
  <% end %>

</table>
<p>
  <%= will_paginate @songs %>
</p>